# Replica project

### Quantitative analysis of how interesting morphograph clusters are

In [8]:
# loading the metadata
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import pickle
import sys
from tqdm import tqdm
from deep_translator import GoogleTranslator
from sklearn.feature_extraction.text import TfidfVectorizer


sys.path.insert(0, "../model/")
from utils import *

sys.path.insert(0, "../web_annotation/")
from utils_clusters import *
from metrics_clusters import *


data_dir = '/scratch/students/schaerf/'

data_dir = '../data/'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [9]:
positives = update_morph(data_dir, '-2022') 
positives.head()

,uid_connection,index,uid,AuthorOriginal,Description,Author,AuthorBirth,path,BeginDate,ImageURL,...,img1,img2,type,annotated,cluster_file_y,cluster,set,new_cluster,new set,old_cluster
0,002275ab17774b55a2d88d7a773b2d93,4881.0,4e6e928899224c9b8e5d15e37e211fe3,"YÁÑEZ DE LA ALMEDINA, Fernando",Madonna and Child with Infant St John,"YÁÑEZ DE LA ALMEDINA, Fernando",(active 1505-36),../data/WGA/images/y/yanez/madonna.jpg,1500.0,http://www.wga.hu/html/y/yanez/madonna.html,...,a2b4fec1607143d4ad4214b48bab69d6,4e6e928899224c9b8e5d15e37e211fe3,POSITIVE,2016-05-30 13:17:33+00:00,Original,118,train,118,train,118.0
1,002ca9c06a704c779e69d93cb4fadaa3,5465.0,45588b4e33444ed8b34c523bac808bc4,TIZIANO (copia da -),S.Mariá Maddalena. cm. 123 x 91,TIZIANO Vecellio (copia da),1483.0,../data/158B/158B_556.jpg,1560.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,45588b4e33444ed8b34c523bac808bc4,da54c106180449d1a52993e9a5bc17fd,POSITIVE,2018-07-24 14:58:44.559049+00:00,Original,50,train,50,train,50.0
2,0038ab462149452b98a4d7359a06f9f4,15245.0,ae828b07e4284d80b652206ffb77278a,TIZIANO (copia da -),"Morte di S. Pietro Martire. mm. 123,8 x 84,2",TIZIANO Vecellio (copia da),1483.0,../data/158C/158C_120.jpg,1641.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,ae828b07e4284d80b652206ffb77278a,ea64207684694d379579998f88b7c29a,POSITIVE,2018-07-16 09:47:57.987515+00:00,Original,51,test,51,test,51.0
3,00474897de044f7fb1ef16888dc198f3,11203.0,76b2c4aeab404bc79768117e3ddc62b1,"BELLINI, Giovanni (cerchia di -)",Pietà.,BELLINI Giovanni (cerchia di),1431.0,../data/47A/47A_858.jpg,1449.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,76b2c4aeab404bc79768117e3ddc62b1,b8dd2c0c2c7146e68e5bbb0aaf6cf803,POSITIVE,2018-03-14 10:46:45.603341+00:00,Original,498,val,498,val,498.0
4,008b01e279594f0eae9419cf52f6262b,15308.0,b03f0d316b824923a52e79688ba7e1b7,"ALBANI, Francesco",Diana and Actaeon,"ALBANI, Francesco","(b. 1578, Bologna, d. 1660, Bologna)",../data/WGA/images/a/albani/1/dianacte.jpg,1612.0,http://www.wga.hu/html/a/albani/1/dianacte.html,...,b03f0d316b824923a52e79688ba7e1b7,2264411f35ed4fa18a4962413c13f529,POSITIVE,2016-09-13 15:43:39+00:00,Original,242,train,242,train,242.0

In [10]:
def catch(func, handle=lambda e: e, *args, **kwargs):
    '''Prevents list comprehensions from going into an error when an exception occurs'''
    try:
        return func(*args, **kwargs)
    except Exception as e:
        return e

In [11]:
positives.loc[:, 'Description (EN)'] = [catch(lambda : GoogleTranslator(source='auto', target='en').translate(word)) 
                                      for word in tqdm(list(positives.loc[:, 'Description'].astype(str)))]

100%|██████████| 5016/5016 [46:30<00:00,  1.80it/s]

In [ ]:
positives.loc[:, 'Description (EN)'] = positives.loc[:, 'Description']

In [12]:
uid2endesc = {uid:desc for uid,desc in zip(positives['uid'], positives['Description (EN)'])}
with open(data_dir + 'uid2desc.pkl', 'wb') as outfile:
    pickle.dump(uid2endesc, outfile)

In [19]:
positives['Description (EN - ref)'] = positives['Description (EN)'].astype(str).str.split('.').apply(lambda x: x[0]).apply(lambda x: x.replace('0123456789', ''))
positives['Description (EN - ref)']

0       Madonna and Child with Infant St John
1                                           S
2                                 Death of St
3                                  Compassion
4                           Diana and Actaeon
                        ...
5011                         Holy ramiglia cm
5012                         Venus and Adonis
5013                         Supper at Emmaus
5014    The Madonna and Child with two Saints
5015                              The charity
Name: Description (EN - ref), Length: 5016, dtype: object

In [20]:
def cluster_text(text, range_try=(100,102), hyperparam=False):
    vectorizer = TfidfVectorizer(stop_words={'english'})
    X = vectorizer.fit_transform(text)


    #import matplotlib.pyplot as plt
    from sklearn.cluster import KMeans
    
    if hyperparam:
        Sum_of_squared_distances = []
        K = range(range_try[0],range_try[1])
        for k in K:
            km = KMeans(n_clusters=k, max_iter=200, n_init=10)
            km = km.fit(X)
            Sum_of_squared_distances.append(km.inertia_)
        plt.plot(K, Sum_of_squared_distances, 'bx-')
        plt.xlabel('k')
        plt.ylabel('Sum_of_squared_distances')
        plt.title('Elbow Method For Optimal k')
        plt.show()

    print('How many clusters do you want to use?')
    true_k = int(input())
    
    model = KMeans(n_clusters=true_k, init='k-means++', max_iter=200, n_init=10)
    model.fit(X)

    labels=model.labels_
    clusters=pd.DataFrame(list(zip(text,labels)),columns=['title','cluster'])
    #print(clusters.sort_values(by=['cluster']))

    for i in range(true_k):
        print(clusters[clusters['cluster'] == i])
        
    return clusters

In [22]:
clusters = cluster_text(positives['Description (EN - ref)'].values)

How many clusters do you want to use?
                        title  cluster
898   liadonna col Bambino, S        0
1558  liadonna col Bambino, S        0
1928  liadonna col Bambino, S        0
2909  liadonna col Bambino, S        0
                         title  cluster
143          adonna with Child        1
913          adonna with Child        1
942          adonna with Child        1
1237         adonna with Child        1
1621  The adonna and the Child        1
1882         adonna with Child        1
1932  The adonna and the Child        1
2220         adonna with Child        1
2335  The adonna and the Child        1
2412         adonna with Child        1
2466         adonna with Child        1
2581         adonna with Child        1
3343  The adonna and the Child        1
3378         adonna with Child        1
3981  The adonna and the Child        1
4625         adonna with Child        1
4698  The adonna and the Child        1
                     title  cluster
14        Virgin and Child        2
93        Virgin and Child        2
103       Virgin and Child        2
113       Virgin and Child        2
125       Virgin and Child        2
...                    ...      ...
4687      Virgin and Child        2
4704      Virgin and Child        2
4939      Virgin and Child        2
4949  The Virgin and Child        2
4993      Virgin and Child        2

[126 rows x 2 columns]
                             title  cluster
18           The Madonna and Child        3
27           The Madonna and Child        3
36           The Madonna and Child        3
116          The Madonna and Child        3
157   The Madonna and Child asleep        3
...                            ...      ...
4315         The Madonna and Child        3
4355         The Madonna and Child        3
4440         The Madonna and Child        3
4496         The Madonna and Child        3
4582         The Madonna and Child        3

[69 rows x 2 columns]
                         title  cluster
59             Venus and Cupid        4
443            Venus and Cupid        4
496            Venus and Cupid        4
498   Venus Blindfolding Cupid        4
669            Venus and Cupid        4
...                        ...      ...
4437           Venus and Cupid        4
4516           Venus and Cupid        4
4524           Venus and Cupid        4
4574           Venus and Cupid        4
4700           Venus and Cupid        4

[74 rows x 2 columns]
                           title  cluster
56    Penitent St Mary Magdalene        5
1662  Penitent St Mary Magdalene        5
3270  Penitent St Mary Magdalene        5
3513  Penitent St Mary Magdalene        5
4007  Penitent St Mary Magdalene        5
4286  Penitent St Mary Magdalene        5
4356  Penitent St Mary Magdalene        5
                   title  cluster
23    Madonna with Child        6
38    Madonna with Child        6
65    Madonna with Child        6
100   Madonna with Child        6
110   Madonna with Child        6
...                  ...      ...
4955  Madonna with Child        6
4970  Madonna with Child        6
4972  Madonna with Child        6
4999  Madonna with Child        6
5008  Madonna with Child        6

[115 rows x 2 columns]
                                    title  cluster
4712  HTTPSConnectionPool(host='translate        7
4713  HTTPSConnectionPool(host='translate        7
4714  HTTPSConnectionPool(host='translate        7
4715  HTTPSConnectionPool(host='translate        7
4716  HTTPSConnectionPool(host='translate        7
...                                   ...      ...
4920  HTTPSConnectionPool(host='translate        7
4921  HTTPSConnectionPool(host='translate        7
4922  HTTPSConnectionPool(host='translate        7
4923  HTTPSConnectionPool(host='translate        7
4924  HTTPSConnectionPool(host='translate        7

[213 rows x 2 columns]
                                title  cluster
71    Rest during the Flight to Egypt        8
250   Rest during the Flight to Egypt        8
425   Rest during the Flight to Egypt        8
567   Rest during the Flight to Egypt        8
1091  Rest during the Flight to Egypt        8
1274  Rest during the Flight to Egypt        8
1690  Rest during the Flight to Egypt        8
1727  Rest during the Flight to Egypt        8
2035  Rest during the Flight to Egypt        8
2066  Rest during the Flight to Egypt        8
2263  Rest during the Flight to Egypt        8
2705  Rest during the Flight to Egypt        8
2907  Rest during the Flight to Egypt        8
3375  Rest during the Flight to Egypt        8
3408  Rest during the Flight to Egypt        8
3705  Rest during the Flight to Egypt        8
3812  Rest during the Flight to Egypt        8
4066  Rest during the Flight to Egypt        8
4135  Rest during the Flight to Egypt        8
4256  Rest during the Flight to Egypt        8
4520  Rest during the Flight to Egypt        8
                               title  cluster
7                    The Holy Family        9
30    The Holy Family in a Landscape        9
44                   The Holy Family        9
52                       Holy Family        9
70                   The Holy Family        9
...                              ...      ...
4541                 The Holy Family        9
4642               Holy family and S        9
4655              Holy Family with S        9
4673  The Holy Family in a Landscape        9
4710                 The Holy Family        9

[145 rows x 2 columns]
                  title  cluster
15    Leda and the Swan       10
39    Leda and the Swan       10
147   Leda and the Swan       10
155   Leda and the Swan       10
216   Leda and the Swan       10
...                 ...      ...
4569  Leda and the Swan       10
4936  Leda and the Swan       10
4979  Leda and the Swan       10
4986  Leda and the Swan       10
5003  Leda and the Swan       10

[91 rows x 2 columns]
                      title  cluster
11    Reclining Water Nymph       11
97    Reclining Water Nymph       11
335   Reclining Water Nymph       11
386   Reclining Water Nymph       11
569   Reclining Water Nymph       11
580   Reclining Water Nymph       11
634   Reclining Water Nymph       11
713   Reclining Water Nymph       11
813   Reclining Water Nymph       11
905   Reclining Water Nymph       11
970   Reclining Water Nymph       11
975   Reclining Water Nymph       11
1003  Reclining Water Nymph       11
1044  Reclining Water Nymph       11
1047  Reclining Water Nymph       11
1567  Reclining Water Nymph       11
1571  Reclining Water Nymph       11
1609  Reclining Water Nymph       11
1719  Reclining Water Nymph       11
1834  Reclining Water Nymph       11
1846  Reclining Water Nymph       11
2003  Reclining Water Nymph       11
2026  Reclining Water Nymph       11
2212  Reclining Water Nymph       11
2243  Reclining Water Nymph       11
2246  Reclining Water Nymph       11
2272  Reclining Water Nymph       11
2304  Reclining Water Nymph       11
2834  Reclining Water Nymph       11
3005  Reclining Water Nymph       11
3072  Reclining Water Nymph       11
3195  Reclining Water Nymph       11
3309  Reclining Water Nymph       11
3345  Reclining Water Nymph       11
3673  Reclining Water Nymph       11
3787  Reclining Water Nymph       11
4102  Reclining Water Nymph       11
4116  Reclining Water Nymph       11
4141  Reclining Water Nymph       11
4961  Reclining Water Nymph       11
                          title  cluster
433       Adoration of the Magi       12
548       Adoration of the Magi       12
698       Adoration of the Magi       12
919       Adoration of the Magi       12
1161      Adoration of the Magi       12
1204      Adoration of the Magi       12
1213      Adoration of the Magi       12
1413      Adoration of the Magi       12
1428      Adoration of the Magi       12
1473      Adoration of the Magi       12
1879  The Adoration of the Magi       12
2111      Adoration of the Magi       12
2312      Adoration of the Magi       12
2763      Adoration of the Magi       12
2858      Adoration of the Magi       12
3168      Adoration of the Magi       12
3173  The Adoration of the Magi       12
3308      Adoration of the Magi       12
3460      Adoration of the Magi       12
3510      Adoration of the Magi       12
3571      Adoration of the Magi       12
3690      Adoration of the Magi       12
3767      Adoration of the Magi       12
3922      Adoration of the Magi       12
3995      Adoration of the Magi       12
4119      Adoration of the Magi       12
4126      Adoration of the Magi       12
4253      Adoration of the Magi       12
4290      Adoration of the Magi       12
4293      Adoration of the Magi       12
4489      Adoration of the Magi       12
4517      Adoration of the Magi       12
4590      Adoration of the Magi       12
4941      Adoration of the Magi       12
4982      Adoration of the Magi       12
               title  cluster
258       Deposition       13
273       Deposition       13
367       Deposition       13
481   The Deposition       13
494       Deposition       13
...              ...      ...
4557  The Deposition       13
4595      Deposition       13
4629      Deposition       13
4656      Deposition       13
4706      Deposition       13

[75 rows x 2 columns]
                           title  cluster
92                  La Maddalena       14
190                 La Maddalena       14
321                 La Maddalena       14
478                 La Maddalena       14
497                 La Maddalena       14
554                 La Maddalena       14
564                 La Maddalena       14
627                 La Maddalena       14
630                 La Maddalena       14
731                 La Maddalena       14
1203                La Maddalena       14
1263                La Maddalena       14
1309                La Maddalena       14
1369                La Maddalena       14
1489                La Maddalena       14
1534                La Maddalena       14
1538                La Maddalena       14
1582                La Maddalena       14
1618                La Maddalena       14
1753                La Maddalena       14
1803                La Maddalena       14
1831                La Maddalena       14
1862                La Maddalena       14
1914                La Maddalena       14
1981                La Maddalena       14
1988                La Maddalena       14
1990                La Maddalena       14
2013                La Maddalena       14
2266                La Maddalena       14
2278                La Maddalena       14
2317                La Maddalena       14
2405                La Maddalena       14
2530                La Maddalena       14
2546                La Maddalena       14
2613                La Maddalena       14
2731                La Maddalena       14
2767                La Maddalena       14
2799                La Maddalena       14
3008                La Maddalena       14
3009                La Maddalena       14
3011                La Maddalena       14
3038                La Maddalena       14
3080                La Maddalena       14
3124  La Maddalena in the desert       14
3144                La Maddalena       14
3147                La Maddalena       14
3214                La Maddalena       14
3326                La Maddalena       14
3372                La Maddalena       14
3426                La Maddalena       14
3486                La Maddalena       14
4168                La Maddalena       14
4389                La Maddalena       14
4427                La Maddalena       14
4521                La Maddalena       14
4529                La Maddalena       14
4613                La Maddalena       14
5001  La Maddalena in the desert       14
                                     title  cluster
1                                        S       15
6                 The preparation of lunch       15
9       Riva degli Schiavoni: Looking East       15
17                   The Bucintoro, Venice       15
22    St Jerome Reading in the Countryside       15
...                                    ...      ...
4981                                     s       15
4983                    Hercules and Cacus       15
4996     Turkish woman resting on the sofa       15
5010            Christ crowned with thorns       15
5011                      Holy ramiglia cm       15

[987 rows x 2 columns]
                         title  cluster
24                          St       16
99                          St       16
215                         St       16
327                         St       16
336                         St       16
357   St Andrew and St Francis       16
398                         St       16
403                         St       16
459                         St       16
663                         St       16
714                         St       16
859                         St       16
933                         St       16
949                         St       16
1026                        St       16
1137                        St       16
1463                        St       16
1477                        St       16
1497                        St       16
1751                        St       16
1864                        St       16
2031                        St       16
2107                        St       16
2116                        St       16
2161                        St       16
2195                        St       16
2522                        St       16
2525                        St       16
2526                        St       16
2603                        St       16
2774                        St       16
2832                        St       16
2839                        St       16
2870                        St       16
2890                        St       16
2915                        St       16
2918                        St       16
2968                        St       16
3078                        St       16
3131                        St       16
3172                        St       16
3201                        St       16
3590                        St       16
3722                        St       16
3904                        St       16
3914                        St       16
3956                        St       16
3986                        St       16
4003                        St       16
4008                        St       16
4076                        St       16
4090                        St       16
4156                        St       16
4159                        St       16
4333                        St       16
4335                        St       16
4404                        St       16
4475                        St       16
4493                        St       16
4600                        St       16
                           title  cluster
109   The Flagellation of Christ       17
130                 Flagellation       17
529   The Flagellation of Christ       17
575                 Flagellation       17
816   The Flagellation of Christ       17
849   The Flagellation of Christ       17
1050  The Flagellation of Christ       17
1119      Flagellation of Christ       17
1357                Flagellation       17
1483  The Flagellation of Christ       17
1587      Flagellation of Christ       17
1845      Flagellation of Christ       17
2028  The Flagellation of Christ       17
2073  The Flagellation of Christ       17
2121                Flagellation       17
2177      Flagellation of Christ       17
2356                Flagellation       17
2437  The Flagellation of Christ       17
3136      Flagellation of Christ       17
3143      Flagellation of Christ       17
3853  The Flagellation of Christ       17
4243  The Flagellation of Christ       17
4255      Flagellation of Christ       17
4553  The Flagellation of Christ       17
4568  The Flagellation of Christ       17
4666      Flagellation of Christ       17
           title  cluster
3     Compassion       18
41    Compassion       18
126   Compassion       18
205   Compassion       18
359   Compassion       18
407   Compassion       18
581   Compassion       18
611   Compassion       18
1157  Compassion       18
1253  Compassion       18
1302  Compassion       18
1555  Compassion       18
1817  Compassion       18
1877  Compassion       18
1913  Compassion       18
1970  Compassion       18
1980  Compassion       18
2256  Compassion       18
2261  Compassion       18
2568  Compassion       18
2608  Compassion       18
2694  Compassion       18
2948  Compassion       18
3115  Compassion       18
3256  Compassion       18
3368  Compassion       18
3894  Compassion       18
3994  Compassion       18
4031  Compassion       18
4045  Compassion       18
4294  Compassion       18
4434  Compassion       18
4488  Compassion       18
4548  Compassion       18
                                                  title  cluster
51                           Adoration of the Shepherds       19
72                           Adoration of the shepherds       19
105                          Adoration of the Shepherds       19
159                          Adoration of the Shepherds       19
240                          Adoration of the Shepherds       19
373                          Adoration of the Shepherds       19
463                          Adoration of the Shepherds       19
671                          Adoration of the Shepherds       19
934                          Adoration of the shepherds       19
972                          Adoration of the Shepherds       19
1032                     The Adoration of the Shepherds       19
1045                         Adoration of the Shepherds       19
1103                         Adoration of the shepherds       19
1342                         Adoration of the Shepherds       19
1462                         Adoration of the Shepherds       19
1659                         Adoration of the shepherds       19
1687                         Adoration of the Shepherds       19
1782                         Adoration of the Shepherds       19
1874                         Adoration of the Shepherds       19
2027                     The Adoration of the Shepherds       19
2113                         Adoration of the shepherds       19
2347                     The Adoration of the Shepherds       19
2429                         Adoration of the Shepherds       19
2596  Adoration of the Shepherds, with Saints Victor...       19
2715                         Adoration of the shepherds       19
2733                         Adoration of the Shepherds       19
3328                         Adoration of the Shepherds       19
3617                         Adoration of the shepherds       19
3627                         Adoration of the Shepherds       19
3640                         Adoration of the Shepherds       19
3681                         Adoration of the shepherds       19
3980             The Adoration of the Shepherds, with S       19
4171                         Adoration of the shepherds       19
4303                         Adoration of the shepherds       19
4311                     The Adoration of the Shepherds       19
4350                         Adoration of the Shepherds       19
4351                         Adoration of the Shepherds       19
4699                         Adoration of the shepherds       19
4963                         Adoration of the Shepherds       19
                   title  cluster
81    Diana and Callisto       20
1354  Diana and Callisto       20
1415  Diana and Callisto       20
1450  Diana and Callisto       20
1502  Diana and Callisto       20
1508  Diana and Callisto       20
1519  Diana and Callisto       20
1521  Diana and Callisto       20
1708  Diana and Callisto       20
1857  Diana and Callisto       20
1895  Diana and Callisto       20
2462  Diana and Callisto       20
2685  Diana and Callisto       20
2821  Diana and Callisto       20

In [23]:
clusters['cluster_iconography'] = clusters['cluster']

In [24]:
positives = positives.merge(clusters[['cluster_iconography']], left_index=True, right_index=True)

In [25]:
positives.head()

,uid_connection,index,uid,AuthorOriginal,Description,Author,AuthorBirth,path,BeginDate,ImageURL,...,annotated,cluster_file_y,cluster,set,new_cluster,new set,old_cluster,Description (EN),Description (EN - ref),cluster_iconography
0,002275ab17774b55a2d88d7a773b2d93,4881.0,4e6e928899224c9b8e5d15e37e211fe3,"YÁÑEZ DE LA ALMEDINA, Fernando",Madonna and Child with Infant St John,"YÁÑEZ DE LA ALMEDINA, Fernando",(active 1505-36),../data/WGA/images/y/yanez/madonna.jpg,1500.0,http://www.wga.hu/html/y/yanez/madonna.html,...,2016-05-30 13:17:33+00:00,Original,118,train,118,train,118.0,Madonna and Child with Infant St John,Madonna and Child with Infant St John,87
1,002ca9c06a704c779e69d93cb4fadaa3,5465.0,45588b4e33444ed8b34c523bac808bc4,TIZIANO (copia da -),S.Mariá Maddalena. cm. 123 x 91,TIZIANO Vecellio (copia da),1483.0,../data/158B/158B_556.jpg,1560.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,2018-07-24 14:58:44.559049+00:00,Original,50,train,50,train,50.0,S.Mariá Maddalena. cm. 123 x 91,S,15
2,0038ab462149452b98a4d7359a06f9f4,15245.0,ae828b07e4284d80b652206ffb77278a,TIZIANO (copia da -),"Morte di S. Pietro Martire. mm. 123,8 x 84,2",TIZIANO Vecellio (copia da),1483.0,../data/158C/158C_120.jpg,1641.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,2018-07-16 09:47:57.987515+00:00,Original,51,test,51,test,51.0,Death of St. Peter Martyr. mm. 123.8 x 84.2,Death of St,76
3,00474897de044f7fb1ef16888dc198f3,11203.0,76b2c4aeab404bc79768117e3ddc62b1,"BELLINI, Giovanni (cerchia di -)",Pietà.,BELLINI Giovanni (cerchia di),1431.0,../data/47A/47A_858.jpg,1449.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,2018-03-14 10:46:45.603341+00:00,Original,498,val,498,val,498.0,Compassion.,Compassion,18
4,008b01e279594f0eae9419cf52f6262b,15308.0,b03f0d316b824923a52e79688ba7e1b7,"ALBANI, Francesco",Diana and Actaeon,"ALBANI, Francesco","(b. 1578, Bologna, d. 1660, Bologna)",../data/WGA/images/a/albani/1/dianacte.jpg,1612.0,http://www.wga.hu/html/a/albani/1/dianacte.html,...,2016-09-13 15:43:39+00:00,Original,242,train,242,train,242.0,Diana and Actaeon,Diana and Actaeon,35

In [26]:
scores_iconography = {cluster: np.around(content['cluster_iconography'].nunique() / content.shape[0] + (content.shape[0] * 0.01),2) for cluster, content in positives.groupby('cluster') if content.shape[0] > 1}
list(scores_iconography.items())[:20]

[(0, 0.36),
 (1, 0.58),
 (2, 0.23),
 (3, 0.4),
 (4, 0.39),
 (5, 0.36),
 (7, 0.23),
 (9, 0.2),
 (10, 0.59),
 (13, 0.42),
 (14, 0.58),
 (15, 0.7),
 (17, 0.36),
 (19, 0.7),
 (20, 0.36),
 (22, 0.3),
 (24, 0.33),
 (25, 0.35),
 (26, 0.36),
 (27, 0.36)]

In [27]:
positives[positives['cluster'] == list(scores_iconography.keys())[np.argmin(list(scores_iconography.values()))]]['Description'].value_counts()

La Sacra Famiglia.                5
The Holy Family                   4
The Holy Family in a Landscape    3
Name: Description, dtype: int64

In [28]:
positives[positives['cluster'] == list(scores_iconography.keys())[np.argmax(list(scores_iconography.values()))]]['Description'].value_counts()

Venus and Cupid                           48
Reclining Water Nymph                     41
Sleeping Venus                            31
The Venus of Urbino                       23
Reclining Nymph                           20
Reclining River Nymph at the Fountain     19
Venus and Cupid with an Organist          19
Diana and Her Nymphs                      18
Death of Cleopatra                        18
Venus with Doves                          18
Sleeping Venus with Cupid                 17
Venus and an Organist and a Little Dog    17
Venus with Organist and Cupid             17
Eva Prima Pandora                         16
The Nymph of the Fountain                 16
Venus                                     16
Venere. em. 125 x 175.                     4
(20)                                       4
Nymph of the Spring                        3
Susanna e i vecchioni. Tav. 30             2
Venere,un satiro e Amore. x 148).          1
Name: Description, dtype: int64

## Authors

In [29]:
positives.Author.value_counts()

TIZIANO Vecellio                    342
CRANACH, Lucas the Elder            147
RAFFAELLO Sanzio                    131
LEONARDO da Vinci                   128
CANALETTO                           111
                                   ...
CARRIERA Rosalba                      1
ALBANI France sco (inc e inv )        1
PALMA Jacopo (il Vecchio) (attr)      1
VASARI, Giorgio                       1
SCOTIN G (sculp )                     1
Name: Author, Length: 852, dtype: int64

In [30]:
positives['AuthorClean'] = positives['Author'].str.split('(').apply(lambda x: x[0])
positives['AuthorClean'].value_counts()

TIZIANO Vecellio                  342
CRANACH, Lucas the Elder          147
TIZIANO Vecellio                  144
RAFFAELLO Sanzio                  131
LEONARDO da Vinci                 128
                                 ...
SCHEDONI, Bartolomeo                1
RIPANDA Jacopo                      1
MARCONI Rocco                       1
FRANCESCO RIZZO da SANTACROCE       1
SCOTIN G                            1
Name: AuthorClean, Length: 719, dtype: int64

In [31]:
scores_authors = {cluster: np.around(content['AuthorClean'].nunique() / content.shape[0] + (content.shape[0] * 0.005),2) for cluster, content in positives.groupby('cluster') if content.shape[0] > 1}
list(scores_authors.items())[:20]

[(0, 0.35),
 (1, 0.42),
 (2, 0.2),
 (3, 0.35),
 (4, 0.2),
 (5, 0.35),
 (7, 0.2),
 (9, 0.23),
 (10, 0.38),
 (13, 0.25),
 (14, 0.29),
 (15, 0.35),
 (17, 0.2),
 (19, 0.68),
 (20, 0.68),
 (22, 0.25),
 (24, 0.29),
 (25, 0.25),
 (26, 0.68),
 (27, 0.35)]

In [32]:
positives[positives['cluster'] == list(scores_authors.keys())[np.argmax(list(scores_authors.values()))]]['AuthorClean'].value_counts()

CRANACH, Lucas the Elder           96
TIZIANO Vecellio                   90
BORDONE, Paris                     31
HEEMSKERCK, Maerten van            20
SCOREL, Jan van                    18
SPADARINO, lo                      18
GARNIER, Etienne-Barthélemy        18
COUSIN, Jean the Elder             16
GIROLAMO DA TREVISO the Younger    16
PALMA VECCHIO                      16
GIORGIONE                          15
GIORGIONE                           4
LE TEBRE Valentin                   4
CRANACH, Lucas the Younger          3
LEFEBVRE Valentin                   2
BORDONE Paris                       1
Name: AuthorClean, dtype: int64

In [33]:
positives[positives['cluster'] == list(scores_authors.keys())[np.argmin(list(scores_authors.values()))]]['AuthorClean'].value_counts()

ALBANI, Francesco    15
Name: AuthorClean, dtype: int64

### Author attributions

In [34]:
positives['AuthorAttr'] = positives['AuthorOriginal'].str.split('(').apply(lambda x: x[1] if len(x)>1 else 'Original').str.split(')').apply(lambda x: x[0]).apply(lambda x: x.replace('-)', '')).apply(lambda x: x.strip(') '))
positives['AuthorAttr'].value_counts()

Original                4093
copia da -               120
attr.                     69
inc.                      61
scuola di -               39
                        ...
inc. e inv.                1
Van                        1
copia ilamminga da -       1
copia -                    1
sculp.                     1
Name: AuthorAttr, Length: 117, dtype: int64

In [36]:
clusters = cluster_text(positives['AuthorAttr'].values)

How many clusters do you want to use?
     title  cluster
167   inc.        0
216   inc.        0
225   inc.        0
238   inc.        0
307   inc.        0
...    ...      ...
4493  inc.        0
4647  inc.        0
4722  inc.        0
4825  inc.        0
4912  inc.        0

[62 rows x 2 columns]
         title  cluster
0     Original        1
4     Original        1
5     Original        1
6     Original        1
8     Original        1
...        ...      ...
5008  Original        1
5009  Original        1
5012  Original        1
5013  Original        1
5015  Original        1

[4093 rows x 2 columns]
            title  cluster
7      scuola di-        2
249   scuola di -        2
264   scuola di -        2
343    scuola di-        2
422   scuola di -        2
...           ...      ...
4710   scuola di-        2
4794   scuola di-        2
4895  scuola di -        2
4959  scuola di -        2
4980   scuola di-        2

[80 rows x 2 columns]
           title  cluster
1     copia da -        3
2     copia da -        3
24    copia da -        3
46    copia da -        3
68     Copia da-        3
...          ...      ...
4882  copia da -        3
4968  copia da -        3
4981  copia da -        3
4983  copia da -        3
4988   copia da-        3

[211 rows x 2 columns]
      title  cluster
48    attr.        4
52    attr.        4
221   attr.        4
379   attr.        4
486   attr.        4
...     ...      ...
4448  attr.        4
4476  attr.        4
4488  attr.        4
4518  attr.        4
4951  attr.        4

[69 rows x 2 columns]
           title  cluster
65            il        5
201           il        5
253           il        5
296           il        5
384           il        5
478           il        5
497           il        5
643           il        5
1073          il        5
1263          il        5
1485          il        5
1533          IL        5
1753          il        5
1862          il        5
1923  il giovane        5
2082          IL        5
2084          il        5
2176          IL        5
2222  Il giovane        5
2350          IL        5
2405          il        5
2546          il        5
2623          il        5
2816          IL        5
2828          il        5
2829          IL        5
2967          Il        5
3326          il        5
3340          Il        5
3394          Il        5
3426          il        5
3529          il        5
3544          il        5
3789          il        5
4103          il        5
4198          il        5
4295         il-        5
4315          IL        5
4484          il        5
4561  il giovane        5
4580          il        5
4628          il        5
4630          Il        5
4707          il        5
4785          il        5
4795          IL        5
           title  cluster
242           i1        6
360           i1        6
508           I1        6
639           i1        6
806           I1        6
971           i1        6
1100          i1        6
1121          i1        6
1178          I1        6
1214          i1        6
1220         i1-        6
1453          i1        6
1840          I1        6
1917          i1        6
1931          i1        6
1965          i1        6
2166          i1        6
2170          i1        6
2175          i1        6
2202          i1        6
2472          i1        6
2662  I1 Vecchio        6
2701          i1        6
2746          i1        6
2764          I1        6
2969          i1        6
3014         i1-        6
3031         i1-        6
3147          i1        6
3304  I1 Vecchio        6
3330          i1        6
3358          i1        6
3371          I1        6
3505         i1-        6
3625          i1        6
3924          I1        6
4110         i1-        6
4172          I1        6
4174          i1        6
4368          i1        6
4405         i1-        6
4496          I1        6
4730          i1        6
4817          I1        6
4842          I1        6
4889          i1        6
5014          I1        6
                     title  cluster
3             cerchia di -        7
12                    inv.        7
37             sciola del-        7
72               copia ua-        7
74       da Paolo Veronese        7
...                    ...      ...
4975            ecuola di-        7
4996                sculp.        7
4999                     ?        7
5010                  Inv.        7
5011  imitazione di FONDce        7

[320 rows x 2 columns]
              title  cluster
28        bottega -        8
70     bottega di -        8
240   bottega dei -        8
345    bottega di -        8
366         bottega        8
579         Bottega        8
589       bottega -        8
725       bottega -        8
735   bottega dei -        8
748     bottega di-        8
1203   bottega di -        8
1427   bottega di -        8
1462  bottega dei -        8
1464      bottega -        8
1510  bottega dei -        8
1525        Bottega        8
1539      bottega -        8
1631    bottega di-        8
1664  bottega dei -        8
1687  bottega dei -        8
1782  bottega dei -        8
1797   bottega di -        8
1823   bottega di -        8
2020   bottega di -        8
2183      bottega -        8
2237    bottega di-        8
2273        Bottega        8
2318      bottega -        8
2332   bottega di -        8
2432        bottega        8
2473   bottega di -        8
2528        Bottega        8
2531   bottega di -        8
2587  bottega dei -        8
2707   bottega di -        8
2847  bottega dei -        8
2917   bottega di -        8
2993  bottega dei -        8
2995        bottega        8
3396    bottega di-        8
3429      bottega -        8
3747  bottega dei -        8
3852   bottega di -        8
3886    bottega di-        8
3971  bottega dei -        8
4060        bottega        8
4564   bottega di -        8
4724   bottega di -        8
4743   bottega di -        8
4777   bottega di -        8
4963  bottega dei -        8
     title  cluster
115   da -        9
205   da -        9
252   da -        9
350     da        9
428   da -        9
575    da-        9
678   da -        9
871   da -        9
894   da -        9
951   da -        9
1076  da -        9
1147  da -        9
1255  da -        9
1357   da-        9
1652  da -        9
1810  da -        9
1838    da        9
2232  da -        9
2411  da -        9
2479  da -        9
2608  da -        9
2694  da -        9
2748  da -        9
2848  da -        9
2867  da -        9
3153  da -        9
3171  da -        9
3615  da -        9
3638  da -        9
3672  da -        9
3726  da -        9
3869  da -        9
3874  da -        9
4081  da -        9
4148  da -        9
4294  da -        9
4447    da        9

In [37]:
clusters['cluster_attribution'] = clusters['cluster']

In [38]:
positives = positives.merge(clusters[['cluster_attribution']], left_index=True, right_index=True)
positives.head()

,uid_connection,index,uid,AuthorOriginal,Description,Author,AuthorBirth,path,BeginDate,ImageURL,...,set,new_cluster,new set,old_cluster,Description (EN),Description (EN - ref),cluster_iconography,AuthorClean,AuthorAttr,cluster_attribution
0,002275ab17774b55a2d88d7a773b2d93,4881.0,4e6e928899224c9b8e5d15e37e211fe3,"YÁÑEZ DE LA ALMEDINA, Fernando",Madonna and Child with Infant St John,"YÁÑEZ DE LA ALMEDINA, Fernando",(active 1505-36),../data/WGA/images/y/yanez/madonna.jpg,1500.0,http://www.wga.hu/html/y/yanez/madonna.html,...,train,118,train,118.0,Madonna and Child with Infant St John,Madonna and Child with Infant St John,87,"YÁÑEZ DE LA ALMEDINA, Fernando",Original,1
1,002ca9c06a704c779e69d93cb4fadaa3,5465.0,45588b4e33444ed8b34c523bac808bc4,TIZIANO (copia da -),S.Mariá Maddalena. cm. 123 x 91,TIZIANO Vecellio (copia da),1483.0,../data/158B/158B_556.jpg,1560.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,train,50,train,50.0,S.Mariá Maddalena. cm. 123 x 91,S,15,TIZIANO Vecellio,copia da -,3
2,0038ab462149452b98a4d7359a06f9f4,15245.0,ae828b07e4284d80b652206ffb77278a,TIZIANO (copia da -),"Morte di S. Pietro Martire. mm. 123,8 x 84,2",TIZIANO Vecellio (copia da),1483.0,../data/158C/158C_120.jpg,1641.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,test,51,test,51.0,Death of St. Peter Martyr. mm. 123.8 x 84.2,Death of St,76,TIZIANO Vecellio,copia da -,3
3,00474897de044f7fb1ef16888dc198f3,11203.0,76b2c4aeab404bc79768117e3ddc62b1,"BELLINI, Giovanni (cerchia di -)",Pietà.,BELLINI Giovanni (cerchia di),1431.0,../data/47A/47A_858.jpg,1449.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,val,498,val,498.0,Compassion.,Compassion,18,BELLINI Giovanni,cerchia di -,7
4,008b01e279594f0eae9419cf52f6262b,15308.0,b03f0d316b824923a52e79688ba7e1b7,"ALBANI, Francesco",Diana and Actaeon,"ALBANI, Francesco","(b. 1578, Bologna, d. 1660, Bologna)",../data/WGA/images/a/albani/1/dianacte.jpg,1612.0,http://www.wga.hu/html/a/albani/1/dianacte.html,...,train,242,train,242.0,Diana and Actaeon,Diana and Actaeon,35,"ALBANI, Francesco",Original,1

In [39]:
scores_attributions = {cluster: np.around(content['cluster_attribution'].nunique() / content.shape[0] + (content.shape[0] * 0.005),2) for cluster, content in positives.groupby('cluster') if content.shape[0] > 1}
list(scores_attributions.items())[:20]

[(0, 0.35),
 (1, 0.29),
 (2, 0.2),
 (3, 0.25),
 (4, 0.2),
 (5, 0.35),
 (7, 0.2),
 (9, 0.23),
 (10, 0.3),
 (13, 0.18),
 (14, 0.25),
 (15, 0.35),
 (17, 0.16),
 (19, 0.35),
 (20, 0.35),
 (22, 0.15),
 (24, 0.2),
 (25, 0.2),
 (26, 0.35),
 (27, 0.35)]

In [40]:
positives[positives['cluster'] == list(scores_attributions.keys())[np.argmax(list(scores_attributions.values()))]]['AuthorAttr'].value_counts()

Original             358
copia dal -            4
inc.                   4
da Paolo Veronese      2
Name: AuthorAttr, dtype: int64

In [41]:
positives[positives['cluster'] == list(scores_attributions.keys())[np.argmin(list(scores_attributions.values()))]]['AuthorAttr'].value_counts()

Original    15
Name: AuthorAttr, dtype: int64

### Time difference

In [42]:
extras = pd.read_csv(data_dir + 'morphograph/Cini_AllVariationsMerged_20210421.csv', sep=';')
extras.columns

Index(['Author', 'AuthorULAN', 'AuthorULANLabel', 'AuthorNationality',
       'BiographyLabel', 'AuthorBirth', 'AuthorDeath', 'AuthorBirthLong',
       'AuthorBirthLat', 'AuthorDeathLong', 'AuthorDeathLat',
       'AuthorBirthCity', 'AuthorDeathCity', 'CountModifiers',
       'CountModifiers_Contact', 'CountModifiers_Neighbours', 'CountWorks',
       'CountWorks_Modified', 'CountWorks_Contact', 'CountWorks_Neighbours',
       'PercWorks_Modified', 'PercWorks_Contact', 'PercWorks_Neighbours'],
      dtype='object')

In [43]:
positives_extra = positives.merge(extras[['Author', 'AuthorULAN', 'AuthorULANLabel', 'AuthorNationality',  'BiographyLabel', 
                                          'AuthorDeath', 'AuthorBirthLong', 'AuthorBirthLat', 'AuthorDeathLong', 'AuthorDeathLat',
                                           'CountModifiers',]], left_on='Author', right_on='Author', how='left')
positives_extra.columns

Index(['uid_connection', 'index', 'uid', 'AuthorOriginal', 'Description',
       'Author', 'AuthorBirth', 'path', 'BeginDate', 'ImageURL', 'City',
       'Country', 'AuthorBirthCity', 'AuthorDeathCity', 'Drawer', 'Type',
       'cluster_file_x', 'img1', 'img2', 'type', 'annotated', 'cluster_file_y',
       'cluster', 'set', 'new_cluster', 'new set', 'old_cluster',
       'Description (EN)', 'Description (EN - ref)', 'cluster_iconography',
       'AuthorClean', 'AuthorAttr', 'cluster_attribution', 'AuthorULAN',
       'AuthorULANLabel', 'AuthorNationality', 'BiographyLabel', 'AuthorDeath',
       'AuthorBirthLong', 'AuthorBirthLat', 'AuthorDeathLong',
       'AuthorDeathLat', 'CountModifiers'],
      dtype='object')

In [44]:
positives_extra['BeginDate'].value_counts()

1501.0    464
1523.0    204
1546.0    160
1493.0     98
1518.0     94
         ...
1753.0      1
1819.0      1
1538.0      1
1447.0      1
1445.0      1
Name: BeginDate, Length: 306, dtype: int64

In [45]:
scores_times = {cluster: np.around(content[content['BeginDate'].notnull()]['BeginDate'].max() - content[content['BeginDate'].notnull()]['BeginDate'].min() + (content.shape[0] * 0.05), 2) for cluster, content in positives_extra.groupby('cluster') if content[content['BeginDate'].notnull()].shape[0] > 1}
list(scores_times.items())[:20]

[(0, 1.15),
 (1, 0.4),
 (2, 20.3),
 (3, 31.5),
 (4, 22.3),
 (5, 12.15),
 (7, 22.3),
 (9, 12.6),
 (10, 61.3),
 (13, 55.4),
 (14, 52.25),
 (15, 9.15),
 (17, 51.1),
 (19, 157.15),
 (20, 44.15),
 (22, 30.5),
 (24, 172.25),
 (25, 100.0),
 (26, 13.15),
 (27, 1.15)]

In [46]:
positives_extra[positives_extra['cluster'] == list(scores_times.keys())[np.argmax(list(scores_times.values()))]]['BeginDate'].value_counts()

1503.0    4
1497.0    1
1820.0    1
Name: BeginDate, dtype: int64

In [47]:
positives_extra[positives_extra['cluster'] == list(scores_times.keys())[np.argmin(list(scores_times.values()))]]['BeginDate'].value_counts()

1616.0    2
Name: BeginDate, dtype: int64

### Places

In [48]:
scores_place = {cluster: np.around(content[content['AuthorDeathLat'].notnull()]['AuthorDeathLat'].max() - content[content['AuthorDeathLat'].notnull()]['AuthorDeathLat'].min() + content[content['AuthorDeathLong'].notnull()]['AuthorDeathLong'].max() - content[content['AuthorDeathLong'].notnull()]['AuthorDeathLong'].min() + (content.shape[0] * 0.05), 2) for cluster, content in positives_extra.groupby('cluster') if content[content['AuthorDeathLat'].notnull()].shape[0] > 1}
list(scores_place.items())[:20]

[(1, 0.4),
 (10, 3.22),
 (17, 1.1),
 (20, 0.15),
 (24, 1.25),
 (25, 1.0),
 (32, 2.4),
 (33, 2.8),
 (35, 0.15),
 (48, 4.01),
 (50, 4.9),
 (51, 7.0),
 (52, 0.65),
 (54, 3.5),
 (63, 0.9),
 (68, 0.35),
 (69, 0.15),
 (71, 0.35),
 (72, 18.4),
 (73, 0.25)]

In [49]:
positives_extra[positives_extra['cluster'] == list(scores_place.keys())[np.argmax(list(scores_place.values()))]][['City', 'Country', 'AuthorDeath']]#['BeginDate'].value_counts()

                         City Country  AuthorDeath
45    ROMA CITTA DEL VATICANO    None       1520.0
78                   VENE ZIA    None          NaN
129                      ROMA    None       1520.0
252                  A REZ zo    None          NaN
259                   VENEZIA    None          NaN
288                      ROMA    None          NaN
298                      ROMA    None       1834.0
400                  VENE ZIA    None          NaN
655                  L UCERNA    None          NaN
778                      ROMA    None       1520.0
1147                 A REZ zo    None          NaN
1651                  VENEZIA    None          NaN
1671                     ROMA    None          NaN
1909  ROMA CITTA DEL VATICANO    None       1520.0
2232                 A REZ zo    None          NaN
2319  ROMA CITTA DEL VATICANO    None       1520.0
2671                 VENE ZIA    None          NaN
2848                 A REZ zo    None          NaN
2942                 L UCERNA    None          NaN
3212                 VENE ZIA    None          NaN
3530                     ROMA    None       1834.0
3725  ROMA CITTA DEL VATICANO    None       1520.0
3804                 L UCERNA    None          NaN
4019                 VENE ZIA    None          NaN
4042                     ROMA    None       1834.0
4384  ROMA CITTA DEL VATICANO    None       1520.0
4390                 VENE ZIA    None          NaN
4412                 VENE ZIA    None          NaN

In [50]:
positives_extra[positives_extra['cluster'] == list(scores_place.keys())[np.argmin(list(scores_place.values()))]][['City', 'Country', 'AuthorDeath']]#['BeginDate'].value_counts()

      City Country  AuthorDeath
430   PISA    None       1646.0
2314  PISA    None       1646.0

In [53]:
# scores_iconography, scores_authors, scores_attributions, scores_times, scores_place