# Replica project

### Quantitative analysis of how interesting morphograph clusters are

In [81]:
# loading the metadata
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import pickle
import sys
from tqdm import tqdm
from deep_translator import GoogleTranslator
from sklearn.feature_extraction.text import TfidfVectorizer


sys.path.insert(0, "../model/")
from utils import *

sys.path.insert(0, "../web_annotation/")
from utils_clusters import *
from metrics_clusters import *


data_dir = '/scratch/students/schaerf/'

data_dir = '../data/'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [116]:
positives = update_morph(data_dir, '-2022') 
positives.head()

,uid_connection,index,uid,AuthorOriginal,Description,Author,AuthorBirth,path,BeginDate,ImageURL,...,img1,img2,type,annotated,cluster_file_y,cluster,set,new_cluster,new set,old_cluster
0,002275ab17774b55a2d88d7a773b2d93,4881.0,4e6e928899224c9b8e5d15e37e211fe3,"YÁÑEZ DE LA ALMEDINA, Fernando",Madonna and Child with Infant St John,"YÁÑEZ DE LA ALMEDINA, Fernando",(active 1505-36),../data/WGA/images/y/yanez/madonna.jpg,1500.0,http://www.wga.hu/html/y/yanez/madonna.html,...,a2b4fec1607143d4ad4214b48bab69d6,4e6e928899224c9b8e5d15e37e211fe3,POSITIVE,2016-05-30 13:17:33+00:00,Original,118,train,118,train,118.0
1,002ca9c06a704c779e69d93cb4fadaa3,5465.0,45588b4e33444ed8b34c523bac808bc4,TIZIANO (copia da -),S.Mariá Maddalena. cm. 123 x 91,TIZIANO Vecellio (copia da),1483.0,../data/158B/158B_556.jpg,1560.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,45588b4e33444ed8b34c523bac808bc4,da54c106180449d1a52993e9a5bc17fd,POSITIVE,2018-07-24 14:58:44.559049+00:00,Original,50,train,50,train,50.0
2,0038ab462149452b98a4d7359a06f9f4,15245.0,ae828b07e4284d80b652206ffb77278a,TIZIANO (copia da -),"Morte di S. Pietro Martire. mm. 123,8 x 84,2",TIZIANO Vecellio (copia da),1483.0,../data/158C/158C_120.jpg,1641.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,ae828b07e4284d80b652206ffb77278a,ea64207684694d379579998f88b7c29a,POSITIVE,2018-07-16 09:47:57.987515+00:00,Original,51,test,51,test,51.0
3,00474897de044f7fb1ef16888dc198f3,11203.0,76b2c4aeab404bc79768117e3ddc62b1,"BELLINI, Giovanni (cerchia di -)",Pietà.,BELLINI Giovanni (cerchia di),1431.0,../data/47A/47A_858.jpg,1449.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,76b2c4aeab404bc79768117e3ddc62b1,b8dd2c0c2c7146e68e5bbb0aaf6cf803,POSITIVE,2018-03-14 10:46:45.603341+00:00,Original,498,val,498,val,498.0
4,008b01e279594f0eae9419cf52f6262b,15308.0,b03f0d316b824923a52e79688ba7e1b7,"ALBANI, Francesco",Diana and Actaeon,"ALBANI, Francesco","(b. 1578, Bologna, d. 1660, Bologna)",../data/WGA/images/a/albani/1/dianacte.jpg,1612.0,http://www.wga.hu/html/a/albani/1/dianacte.html,...,b03f0d316b824923a52e79688ba7e1b7,2264411f35ed4fa18a4962413c13f529,POSITIVE,2016-09-13 15:43:39+00:00,Original,242,train,242,train,242.0

In [5]:
def catch(func, handle=lambda e: e, *args, **kwargs):
    '''Prevents list comprehensions from going into an error when an exception occurs'''
    try:
        return func(*args, **kwargs)
    except Exception as e:
        return e

In [ ]:
positives.loc[:, 'Description (EN)'] = [catch(lambda : GoogleTranslator(source='auto', target='en').translate(word)) 
                                      for word in tqdm(list(positives.loc[:, 'Description'].astype(str)))]

In [117]:
positives.loc[:, 'Description (EN)'] = positives.loc[:, 'Description']

In [118]:
uid2endesc = {uid:desc for uid,desc in zip(positives['uid'], positives['Description (EN)'])}
with open(data_dir + 'uid2desc.pkl', 'wb') as outfile:
    pickle.dump(uid2endesc, outfile)

In [119]:
positives['Description (EN - ref)'] = positives['Description (EN)'].astype(str).str.split('.').apply(lambda x: x[0]).apply(lambda x: x.replace('0123456789', ''))
positives['Description (EN - ref)']

0       Madonna and Child with Infant St John
1                                           S
2                                  Morte di S
3                                       Pietà
4                           Diana and Actaeon
                        ...
5011                        Sacra ramiglia cm
5012                           Venere e Adone
5013                         Supper at Emmaus
5014       La Madonna col Bambino e due Sante
5015                                La Carità
Name: Description (EN - ref), Length: 5016, dtype: object

In [120]:
def cluster_text(text, range_try=(100,102), hyperparam=False):
    vectorizer = TfidfVectorizer(stop_words={'english'})
    X = vectorizer.fit_transform(text)


    import matplotlib.pyplot as plt
    from sklearn.cluster import KMeans
    
    if hyperparam:
        Sum_of_squared_distances = []
        K = range(range_try[0],range_try[1])
        for k in K:
            km = KMeans(n_clusters=k, max_iter=200, n_init=10)
            km = km.fit(X)
            Sum_of_squared_distances.append(km.inertia_)
        plt.plot(K, Sum_of_squared_distances, 'bx-')
        plt.xlabel('k')
        plt.ylabel('Sum_of_squared_distances')
        plt.title('Elbow Method For Optimal k')
        plt.show()

    print('How many clusters do you want to use?')
    true_k = int(input())
    
    model = KMeans(n_clusters=true_k, init='k-means++', max_iter=200, n_init=10)
    model.fit(X)

    labels=model.labels_
    clusters=pd.DataFrame(list(zip(text,labels)),columns=['title','cluster'])
    #print(clusters.sort_values(by=['cluster']))

    for i in range(true_k):
        print(clusters[clusters['cluster'] == i])
        
    return clusters

In [121]:
clusters = cluster_text(positives['Description (EN - ref)'].values)

How many clusters do you want to use?
                      title  cluster
7         La Sacra Famiglia        0
44        La Sacra Famiglia        0
52           Sacra Famiglia        0
70        La Sacra Famiglia        0
80     Sacra Famiglia con s        0
...                     ...      ...
4642         Sacra famiglia        0
4655   Sacra Famiglia con S        0
4710      La Sacra Famiglia        0
4762   Sacra Famiglia con S        0
4852  Sacra Famiglia, con S        0

[108 rows x 2 columns]
                         title  cluster
59             Venus and Cupid        1
443            Venus and Cupid        1
496            Venus and Cupid        1
498   Venus Blindfolding Cupid        1
669            Venus and Cupid        1
...                        ...      ...
4524           Venus and Cupid        1
4574           Venus and Cupid        1
4700           Venus and Cupid        1
4740           Venus and Cupid        1
4915           Venus and Cupid        1

[64 rows x 2 columns]
                      title  cluster
1220  La Vergine col Figlio        2
1878     Madonna col figlio        2
2284     Madonna col figlio        2
3014  La Vergine col Figlio        2
3031  La Vergine col Figlio        2
3111     Madonna col figlio        2
3323  La Madonna col Figlio        2
3505  La Vergine col Figlio        2
4110  La Vergine col Figlio        2
4405  La Vergine col Figlio        2
                                                  title  cluster
1                                                     S        3
2                                            Morte di S        3
5                                           Un soffitto        3
6                            La preparazione del pranzo        3
9                    Riva degli Schiavoni: Looking East        3
...                                                 ...      ...
4995  The Molo with the Library and the Entrance to ...        3
4996                   Donna turca che riposa sul soffà        3
4998                                             Spring        3
5010                           Cristo coronato di spine        3
5011                                  Sacra ramiglia cm        3

[2056 rows x 2 columns]
                                                  title  cluster
72                               Adorazione dei pastori        4
105                              Adorazione dei Pastori        4
159                              Adorazione dei Pastori        4
240                              Adorazione dei Pastori        4
548                                 Adorazione dei Magi        4
919                                 Adorazione dei Magi        4
934                              Adorazione dei pastori        4
972                              Adorazione dei Pastori        4
1045                             Adorazione dei Pastori        4
1103                             Adorazione dei pastori        4
1228                                 I doni dei pastori        4
1462                             Adorazione dei Pastori        4
1473                                Adorazione dei Magi        4
1659                             Adorazione dei pastori        4
1687                             Adorazione dei Pastori        4
1782                             Adorazione dei Pastori        4
1874                             Adorazione dei Pastori        4
1941                                 I doni dei pastori        4
1993                                 I doni dei pastori        4
2027                          L 'Adorazione dei pastori        4
2113                             Adorazione dei pastori        4
2347                           L Adorazione dei Pastori        4
2596  Adorazione dei pastori, con i santi Vittore e ...        4
2715                             Adorazione dei pastori        4
2763                                Adorazione dei Magi        4
3168                                Adorazione dei Magi        4
3173                          L 'Adorazione dei Re Magi        4
3460                              L'adorazione dei Magi        4
3617                             Adorazione dei pastori        4
3681                             Adorazione dei pastori        4
3690                                Adorazione dei Magi        4
3900                                 I doni dei pastori        4
3922                                Adorazione dei Magi        4
3980                   L' Adorazione dei pastori, con S        4
3995                                Adorazione dei Magi        4
4119                                Adorazione dei Magi        4
4171                             Adorazione dei pastori        4
4253                                Adorazione dei Magi        4
4293                                Adorazione dei Magi        4
4303                             Adorazione dei pastori        4
4311                          L 'Adorazione dei pastori        4
4350                             Adorazione dei Pastori        4
4438                                 Adorazione dei agi        4
4489                              L'adorazione dei Magi        4
4504                                 I doni dei pastori        4
4590                                Adorazione dei Magi        4
4699                             Adorazione dei pastori        4
4774                              L'adorazione dei Magi        4
4941                                Adorazione dei Magi        4
4963                             Adorazione dei Pastori        4
4991                                 Adorazione dei agi        4
                 title  cluster
115   Il martirio di S        5
329      Martirio di S        5
647      Martirio di S        5
678   Il martirio di S        5
871   Il martirio di S        5
894   Il martirio di S        5
1027     Martirio di S        5
1255  Il martirio di S        5
1593     Martirio di S        5
1810  Il martirio di S        5
2411  Il martirio di S        5
2479  Il martirio di S        5
2748  Il martirio di S        5
3089  Il Martirio di S        5
3126     Martirio di S        5
3153  Il martirio di S        5
3171  Il martirio di S        5
3251  Il Martirio di S        5
3672  Il martirio di S        5
3874  Il martirio di S        5
3884     Martirio di S        5
4098     Martirio di S        5
                                                  title  cluster
185          Palazzo Ducale and the Piazza di San Marco        6
337                                 Piazza di San Marco        6
415                          Piazza San Marco in Venice        6
528   Piazza San Marco Looking East towards the Basi...        6
573                          Piazza San Marco in Venice        6
797                  Piazza San Marco with the Basilica        6
839   View of Piazza San Marco with the Basilica, Ve...        6
947          Palazzo Ducale and the Piazza di San Marco        6
949                                    Piazza San Marco        6
1026                                   Piazza San Marco        6
1060  Piazza San Marco Looking East towards the Basi...        6
1318          The Piazza San Marco towards the Basilica        6
1396          The Piazza San Marco towards the Basilica        6
1455         Palazzo Ducale and the Piazza di San Marco        6
1551  Piazza San Marco: Looking East from the South ...        6
1746                         Piazza San Marco in Venice        6
1751                                   Piazza San Marco        6
1781                                Piazza di San Marco        6
1974          The Piazza San Marco towards the Basilica        6
2031                                   Piazza San Marco        6
2148                                Piazza di San Marco        6
2267  Piazza San Marco Looking East towards the Basi...        6
2402                         Piazza San Marco in Venice        6
2805  View of Piazza San Marco with the Basilica, Ve...        6
2839                                   Piazza San Marco        6
2870                                   Piazza San Marco        6
3002                           Piazza San Marco, Venice        6
3075  View of Piazza San Marco with the Basilica, Ve...        6
3131                                   Piazza San Marco        6
3779         View of the Piazza San Marco, Looking East        6
3950         Palazzo Ducale and the Piazza di San Marco        6
4247  Piazza San Marco Looking East towards the Basi...        6
4468                         Piazza San Marco in Venice        6
4475                                   Piazza San Marco        6
4511  Piazza San Marco Looking East towards the Basi...        6
5009  View of Piazza San Marco with the Basilica, Ve...        6
                                   title  cluster
18                La Madonna col Bambino        7
27                La Madonna col Bambino        7
36                La Madonna col Bambino        7
116               La Madonna col Bambino        7
157      La Madonna col Bambino dormente        7
...                                  ...      ...
4799              La Madonna col Bambino        7
4817              La Madonna col Bambino        7
4847              La Madonna col Bambino        7
4912          La Madonna, il Bambino e S        7
5014  La Madonna col Bambino e due Sante        7

[106 rows x 2 columns]
                                        title  cluster
290   Madonna col bambino e Santa 88 x 110 em        8
399                    Madonna con Bambino em        8
1968                              Ritratto em        8
2074  Madonna col bambino e Santa 88 x 110 em        8
2484                   Madonna con Bambino em        8
4344                   Madonna con Bambino em        8
                        title  cluster
20    Madonna con Bambino e S        9
23        Madonna con Bambino        9
38        Madonna con Bambino        9
65        Madonna con Bambino        9
100       Madonna con Bambino        9
...                       ...      ...
4965  Madonna con Bambino e S        9
4970      Madonna con Bambino        9
4972      Madonna con Bambino        9
4999      Madonna con Bambino        9
5008      Madonna con Bambino        9

[154 rows x 2 columns]
                      title  cluster
11    Reclining Water Nymph       10
97    Reclining Water Nymph       10
209         Reclining Nymph       10
335   Reclining Water Nymph       10
386   Reclining Water Nymph       10
...                     ...      ...
4544        Reclining Nymph       10
4729  Reclining Water Nymph       10
4961  Reclining Water Nymph       10
4976        Reclining Nymph       10
4977        Reclining Nymph       10

[61 rows x 2 columns]
                       title  cluster
172   Venere, Bacco e Cerere       11
785   Venere, Bacco e Cerere       11
1427  Venere, Bacco e Cerere       11
1823  Venere, Bacco e Cerere       11
2020  Venere, Bacco e Cerere       11
2203  Venere, Bacco e Cerere       11
2332  Venere, Bacco e Cerere       11
2561                   Bacco       11
3065  Venere, Bacco e Cerere       11
3112                   Bacco       11
3799  Venere, Bacco e Cerere       11
3852  Venere, Bacco e Cerere       11
3985  Venere, Bacco e Cerere       11
4306  Venere, Bacco e Cerere       11
4777  Venere, Bacco e Cerere       11
               title  cluster
481   La Deposizione       12
667   La Deposizione       12
725   La Deposizione       12
740   La Deposizione       12
845   La Deposizione       12
979   La Deposizione       12
1035  La Deposizione       12
1093            La S       12
1225  La Deposizione       12
1233  La Deposizione       12
1294  La Deposizione       12
1397  La Deposizione       12
1446  La Deposizione       12
1464  La Deposizione       12
1539  La Deposizione       12
1619  La Deposizione       12
1883  La Deposizione       12
1948  La Deposizione       12
1975  La Deposizione       12
2106  La Deposizione       12
2183  La Deposizione       12
2252  La Deposizione       12
2318  La Deposizione       12
2588  La Deposizione       12
2597  La Deposizione       12
2815  La Deposizione       12
3043  La Deposizione       12
3070  La deposizione       12
3429  La Deposizione       12
3568  La deposizione       12
3678  La Deposizione       12
3700  La Deposizione       12
3770  La Deposizione       12
3815  La Deposizione       12
4056              La       12
4101  La Deposizione       12
4260  La Deposizione       12
4557  La Deposizione       12
4854  La Deposizione       12
4872  La Deposizione       12
         title  cluster
3        Pietà       13
41       Pietà       13
126      Pietà       13
180   La Pietà       13
205      Pietà       13
...        ...      ...
4488     Pietà       13
4548     Pietà       13
4631  La Pietà       13
4964  Ia Pietà       13
4988  La Pietà       13

[61 rows x 2 columns]
                 title  cluster
14    Virgin and Child       14
93    Virgin and Child       14
103   Virgin and Child       14
113   Virgin and Child       14
125   Virgin and Child       14
...                ...      ...
4829  Virgin and Child       14
4848  Virgin and Child       14
4899  Virgin and Child       14
4939  Virgin and Child       14
4993  Virgin and Child       14

[109 rows x 2 columns]
                 title  cluster
353   Venus and Adonis       15
392   Venus and Adonis       15
495   Venus and Adonis       15
598   Venus and Adonis       15
886   Venus and Adonis       15
1011  Venus and Adonis       15
1541  Venus and Adonis       15
2008  Venus and Adonis       15
2056  Venus and Adonis       15
2134  Venus and Adonis       15
2196  Venus and Adonis       15
2235  Venus and Adonis       15
2395  Venus and Adonis       15
2557  Venus and Adonis       15
2609  Venus and Adonis       15
2751  Venus and Adonis       15
2875  Venus and Adonis       15
3000  Venus and Adonis       15
3041  Venus and Adonis       15
3051  Venus and Adonis       15
3196  Venus and Adonis       15
3235  Venus and Adonis       15
3472  Venus and Adonis       15
3704  Venus and Adonis       15
3866  Venus and Adonis       15
4136  Venus and Adonis       15
4487  Venus and Adonis       15
4776  Venus and Adonis       15
4875  Venus and Adonis       15
                                                  title  cluster
0                 Madonna and Child with Infant St John       16
21                Madonna and Child with Infant St John       16
53             Madonna and Child with the Young St John       16
96    Madonna and Infant St John the Baptist Adoring...       16
139               St John the Baptist in the Wilderness       16
...                                                 ...      ...
4820  Madonna and Child with St Elizabeth and the In...       16
4909  Madonna and Child with St Elisabeth, the Infan...       16
4928  Madonna and Child with St Elizabeth and the In...       16
5000  Madonna with Child, St John the Baptist, and A...       16
5005  Virgin and Child with the Infant St John the B...       16

[74 rows x 2 columns]
                          title  cluster
433       Adoration of the Magi       17
698       Adoration of the Magi       17
1161      Adoration of the Magi       17
1204      Adoration of the Magi       17
1213      Adoration of the Magi       17
1413      Adoration of the Magi       17
1428      Adoration of the Magi       17
1879  The Adoration of the Magi       17
2111      Adoration of the Magi       17
2312      Adoration of the Magi       17
2858      Adoration of the Magi       17
3308      Adoration of the Magi       17
3510      Adoration of the Magi       17
3571      Adoration of the Magi       17
3767      Adoration of the Magi       17
4126      Adoration of the Magi       17
4290      Adoration of the Magi       17
4517      Adoration of the Magi       17
4813      Adoration of the Magi       17
4834      Adoration of the Magi       17
4982      Adoration of the Magi       17
                                                  title  cluster
228   The Infants Christ and Saint John the Baptist ...       18
351   The Infants Christ and Saint John the Baptist ...       18
547   The Infants Christ and Saint John the Baptist ...       18
739   The Infants Christ and Saint John the Baptist ...       18
982   The Infants Christ and Saint John the Baptist ...       18
1080  The Infants Christ and Saint John the Baptist ...       18
1641  The Infants Christ and Saint John the Baptist ...       18
1951  The Infants Christ and Saint John the Baptist ...       18
2044  The Infants Christ and Saint John the Baptist ...       18
2339  The Infants Christ and Saint John the Baptist ...       18
3713  The Infants Christ and Saint John the Baptist ...       18
4585  The Infants Christ and Saint John the Baptist ...       18
5004  The Infants Christ and Saint John the Baptist ...       18
                         title  cluster
12         La Pesca miracolosa       19
1190          Pesca miracolosa       19
1226       La pesca miracolosa       19
1526          Pesca miracolosa       19
1561          Pesca miracolosa       19
1725       La pesca miracolosa       19
1796       La pesca miracolosa       19
1839       La pesca miracolosa       19
2081          Pesca miracolosa       19
2109          Pesca miracolosa       19
2112       La pesca miracolosa       19
2128       La pesca miracolosa       19
2349       La pesca miracolosa       19
2415       La pesca miracolosa       19
2451       La pesca miracolosa       19
2689       La pesca miracolosa       19
2796          Pesca miracolosa       19
2822       La pesca miracolosa       19
2908       La pesca miracolosa       19
2910       La pesca miracolosa       19
2977       La pesca miracolosa       19
3604  La pesca miracolosa di S       19
3621       La pesca miracolosa       19
3633       La pesca miracolosa       19
3880       La pesca miracolosa       19
4015       La pesca miracolosa       19
4184       La pesca miracolosa       19
4323       La pesca miracolosa       19
4398       La pesca miracolosa       19
4686       La pesca miracolosa       19
4742       La pesca miracolosa       19
4754       La pesca miracolosa       19
                         title  cluster
92                La Maddalena       20
190               La Maddalena       20
321               La Maddalena       20
478               La Maddalena       20
497               La Maddalena       20
...                        ...      ...
4781              La Maddalena       20
4785              La Maddalena       20
4796                 Maddalena       20
4803              La Maddalena       20
5001  La Maddalena nel deserto       20

[74 rows x 2 columns]
                                  title  cluster
71      Rest during the Flight to Egypt       21
250     Rest during the Flight to Egypt       21
333       Rest on the Flight into Egypt       21
425     Rest during the Flight to Egypt       21
493         Rest on the Flight to Egypt       21
567     Rest during the Flight to Egypt       21
622         Rest on the Flight to Egypt       21
861         Rest on the Flight to Egypt       21
924   The Rest on the Flight into Egypt       21
965         Rest on the Flight to Egypt       21
983       Rest on the Flight into Egypt       21
1034      Rest on the Flight into Egypt       21
1091    Rest during the Flight to Egypt       21
1212        Rest on the Flight to Egypt       21
1274    Rest during the Flight to Egypt       21
1316      Rest on the Flight into Egypt       21
1492        Rest on the Flight to Egypt       21
1546      Rest on the Flight into Egypt       21
1690    Rest during the Flight to Egypt       21
1727    Rest during the Flight to Egypt       21
2035    Rest during the Flight to Egypt       21
2066    Rest during the Flight to Egypt       21
2263    Rest during the Flight to Egypt       21
2498        Rest on the Flight to Egypt       21
2705    Rest during the Flight to Egypt       21
2788      Rest on the Flight into Egypt       21

In [122]:
clusters['cluster_iconography'] = clusters['cluster']

In [123]:
positives = positives.merge(clusters[['cluster_iconography']], left_index=True, right_index=True)

In [124]:
positives.head()

,uid_connection,index,uid,AuthorOriginal,Description,Author,AuthorBirth,path,BeginDate,ImageURL,...,annotated,cluster_file_y,cluster,set,new_cluster,new set,old_cluster,Description (EN),Description (EN - ref),cluster_iconography
0,002275ab17774b55a2d88d7a773b2d93,4881.0,4e6e928899224c9b8e5d15e37e211fe3,"YÁÑEZ DE LA ALMEDINA, Fernando",Madonna and Child with Infant St John,"YÁÑEZ DE LA ALMEDINA, Fernando",(active 1505-36),../data/WGA/images/y/yanez/madonna.jpg,1500.0,http://www.wga.hu/html/y/yanez/madonna.html,...,2016-05-30 13:17:33+00:00,Original,118,train,118,train,118.0,Madonna and Child with Infant St John,Madonna and Child with Infant St John,16
1,002ca9c06a704c779e69d93cb4fadaa3,5465.0,45588b4e33444ed8b34c523bac808bc4,TIZIANO (copia da -),S.Mariá Maddalena. cm. 123 x 91,TIZIANO Vecellio (copia da),1483.0,../data/158B/158B_556.jpg,1560.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,2018-07-24 14:58:44.559049+00:00,Original,50,train,50,train,50.0,S.Mariá Maddalena. cm. 123 x 91,S,3
2,0038ab462149452b98a4d7359a06f9f4,15245.0,ae828b07e4284d80b652206ffb77278a,TIZIANO (copia da -),"Morte di S. Pietro Martire. mm. 123,8 x 84,2",TIZIANO Vecellio (copia da),1483.0,../data/158C/158C_120.jpg,1641.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,2018-07-16 09:47:57.987515+00:00,Original,51,test,51,test,51.0,"Morte di S. Pietro Martire. mm. 123,8 x 84,2",Morte di S,3
3,00474897de044f7fb1ef16888dc198f3,11203.0,76b2c4aeab404bc79768117e3ddc62b1,"BELLINI, Giovanni (cerchia di -)",Pietà.,BELLINI Giovanni (cerchia di),1431.0,../data/47A/47A_858.jpg,1449.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,2018-03-14 10:46:45.603341+00:00,Original,498,val,498,val,498.0,Pietà.,Pietà,13
4,008b01e279594f0eae9419cf52f6262b,15308.0,b03f0d316b824923a52e79688ba7e1b7,"ALBANI, Francesco",Diana and Actaeon,"ALBANI, Francesco","(b. 1578, Bologna, d. 1660, Bologna)",../data/WGA/images/a/albani/1/dianacte.jpg,1612.0,http://www.wga.hu/html/a/albani/1/dianacte.html,...,2016-09-13 15:43:39+00:00,Original,242,train,242,train,242.0,Diana and Actaeon,Diana and Actaeon,82

In [125]:
scores_iconography = {cluster: np.around(content['cluster_iconography'].nunique() / content.shape[0] + (content.shape[0] * 0.01),2) for cluster, content in positives.groupby('cluster') if content.shape[0] > 1}
list(scores_iconography.items())[:20]

[(0, 0.36),
 (1, 0.46),
 (2, 0.23),
 (3, 0.2),
 (4, 0.23),
 (5, 0.36),
 (7, 0.23),
 (9, 0.29),
 (10, 0.55),
 (13, 0.32),
 (14, 0.52),
 (15, 0.7),
 (17, 0.27),
 (19, 0.7),
 (20, 0.7),
 (22, 0.2),
 (24, 0.33),
 (25, 0.3),
 (26, 0.36),
 (27, 0.36)]

In [152]:
positives[positives['cluster'] == list(scores_iconography.keys())[np.argmin(list(scores_iconography.values()))]]['Description'].value_counts()

Winter Landscape with Skaters and Bird Trap    4
The Bird Trap                                  3
Winter Landscape with a Bird-trap              2
Nevicata.                                      1
Name: Description, dtype: int64

In [153]:
positives[positives['cluster'] == list(scores_iconography.keys())[np.argmax(list(scores_iconography.values()))]]['Description'].value_counts()

Venus and Cupid                           48
Reclining Water Nymph                     41
Sleeping Venus                            31
The Venus of Urbino                       23
Reclining Nymph                           20
Reclining River Nymph at the Fountain     19
Venus and Cupid with an Organist          19
Diana and Her Nymphs                      18
Death of Cleopatra                        18
Venus with Doves                          18
Sleeping Venus with Cupid                 17
Venus and an Organist and a Little Dog    17
Venus with Organist and Cupid             17
Eva Prima Pandora                         16
The Nymph of the Fountain                 16
Venus                                     16
Venere. em. 125 x 175.                     4
(20)                                       4
Nymph of the Spring                        3
Susanna e i vecchioni. Tav. 30             2
Venere,un satiro e Amore. x 148).          1
Name: Description, dtype: int64

## Authors

In [128]:
positives.Author.value_counts()

TIZIANO Vecellio                    342
CRANACH, Lucas the Elder            147
RAFFAELLO Sanzio                    131
LEONARDO da Vinci                   128
CANALETTO                           111
                                   ...
CARRIERA Rosalba                      1
ALBANI France sco (inc e inv )        1
PALMA Jacopo (il Vecchio) (attr)      1
VASARI, Giorgio                       1
SCOTIN G (sculp )                     1
Name: Author, Length: 852, dtype: int64

In [129]:
positives['AuthorClean'] = positives['Author'].str.split('(').apply(lambda x: x[0])
positives['AuthorClean'].value_counts()

TIZIANO Vecellio                  342
CRANACH, Lucas the Elder          147
TIZIANO Vecellio                  144
RAFFAELLO Sanzio                  131
LEONARDO da Vinci                 128
                                 ...
SCHEDONI, Bartolomeo                1
RIPANDA Jacopo                      1
MARCONI Rocco                       1
FRANCESCO RIZZO da SANTACROCE       1
SCOTIN G                            1
Name: AuthorClean, Length: 719, dtype: int64

In [130]:
scores_authors = {cluster: np.around(content['AuthorClean'].nunique() / content.shape[0] + (content.shape[0] * 0.005),2) for cluster, content in positives.groupby('cluster') if content.shape[0] > 1}
list(scores_authors.items())[:20]

[(0, 0.35),
 (1, 0.42),
 (2, 0.2),
 (3, 0.35),
 (4, 0.2),
 (5, 0.35),
 (7, 0.2),
 (9, 0.23),
 (10, 0.38),
 (13, 0.25),
 (14, 0.29),
 (15, 0.35),
 (17, 0.2),
 (19, 0.68),
 (20, 0.68),
 (22, 0.25),
 (24, 0.29),
 (25, 0.25),
 (26, 0.68),
 (27, 0.35)]

In [151]:
positives[positives['cluster'] == list(scores_authors.keys())[np.argmax(list(scores_authors.values()))]]['AuthorClean'].value_counts()

CRANACH, Lucas the Elder           96
TIZIANO Vecellio                   90
BORDONE, Paris                     31
HEEMSKERCK, Maerten van            20
SCOREL, Jan van                    18
SPADARINO, lo                      18
GARNIER, Etienne-Barthélemy        18
COUSIN, Jean the Elder             16
GIROLAMO DA TREVISO the Younger    16
PALMA VECCHIO                      16
GIORGIONE                          15
GIORGIONE                           4
LE TEBRE Valentin                   4
CRANACH, Lucas the Younger          3
LEFEBVRE Valentin                   2
BORDONE Paris                       1
Name: AuthorClean, dtype: int64

In [150]:
positives[positives['cluster'] == list(scores_authors.keys())[np.argmin(list(scores_authors.values()))]]['AuthorClean'].value_counts()

ALBANI, Francesco    15
Name: AuthorClean, dtype: int64

### Author attributions

In [133]:
positives['AuthorAttr'] = positives['AuthorOriginal'].str.split('(').apply(lambda x: x[1] if len(x)>1 else 'Original').str.split(')').apply(lambda x: x[0]).apply(lambda x: x.replace('-)', '')).apply(lambda x: x.strip(') '))
positives['AuthorAttr'].value_counts()

Original                4093
copia da -               120
attr.                     69
inc.                      61
scuola di -               39
                        ...
inc. e inv.                1
Van                        1
copia ilamminga da -       1
copia -                    1
sculp.                     1
Name: AuthorAttr, Length: 117, dtype: int64

In [134]:
clusters = cluster_text(positives['AuthorAttr'].values)

How many clusters do you want to use?
         title  cluster
0     Original        0
4     Original        0
5     Original        0
6     Original        0
8     Original        0
...        ...      ...
5008  Original        0
5009  Original        0
5012  Original        0
5013  Original        0
5015  Original        0

[4093 rows x 2 columns]
           title  cluster
1     copia da -        1
2     copia da -        1
24    copia da -        1
46    copia da -        1
68     Copia da-        1
...          ...      ...
4882  copia da -        1
4968  copia da -        1
4981  copia da -        1
4983  copia da -        1
4988   copia da-        1

[248 rows x 2 columns]
            title  cluster
7      scuola di-        2
249   scuola di -        2
264   scuola di -        2
343    scuola di-        2
422   scuola di -        2
...           ...      ...
4710   scuola di-        2
4794   scuola di-        2
4895  scuola di -        2
4959  scuola di -        2
4980   scuola di-        2

[80 rows x 2 columns]
           title  cluster
242           i1        3
360           i1        3
508           I1        3
639           i1        3
806           I1        3
971           i1        3
1100          i1        3
1121          i1        3
1178          I1        3
1214          i1        3
1220         i1-        3
1453          i1        3
1840          I1        3
1917          i1        3
1931          i1        3
1965          i1        3
2166          i1        3
2170          i1        3
2175          i1        3
2202          i1        3
2472          i1        3
2662  I1 Vecchio        3
2701          i1        3
2746          i1        3
2764          I1        3
2969          i1        3
3014         i1-        3
3031         i1-        3
3147          i1        3
3304  I1 Vecchio        3
3330          i1        3
3358          i1        3
3371          I1        3
3505         i1-        3
3625          i1        3
3924          I1        3
4110         i1-        3
4172          I1        3
4174          i1        3
4368          i1        3
4405         i1-        3
4496          I1        3
4730          i1        3
4817          I1        3
4842          I1        3
4889          i1        3
5014          I1        3
           title  cluster
65            il        4
201           il        4
253           il        4
296           il        4
384           il        4
478           il        4
497           il        4
643           il        4
1073          il        4
1263          il        4
1485          il        4
1533          IL        4
1753          il        4
1862          il        4
1923  il giovane        4
2082          IL        4
2084          il        4
2176          IL        4
2222  Il giovane        4
2350          IL        4
2405          il        4
2546          il        4
2623          il        4
2816          IL        4
2828          il        4
2829          IL        4
2967          Il        4
3326          il        4
3340          Il        4
3394          Il        4
3426          il        4
3529          il        4
3544          il        4
3789          il        4
4103          il        4
4198          il        4
4295         il-        4
4315          IL        4
4484          il        4
4561  il giovane        4
4580          il        4
4628          il        4
4630          Il        4
4707          il        4
4785          il        4
4795          IL        4
      title  cluster
48    attr.        5
52    attr.        5
221   attr.        5
379   attr.        5
486   attr.        5
...     ...      ...
4448  attr.        5
4476  attr.        5
4488  attr.        5
4518  attr.        5
4951  attr.        5

[69 rows x 2 columns]
                     title  cluster
3             cerchia di -        6
37             sciola del-        6
72               copia ua-        6
74       da Paolo Veronese        6
78                   pinx.        6
...                    ...      ...
4962                 pinx.        6
4975            ecuola di-        6
4996                sculp.        6
4999                     ?        6
5011  imitazione di FONDce        6

[289 rows x 2 columns]
              title  cluster
28        bottega -        7
70     bottega di -        7
240   bottega dei -        7
345    bottega di -        7
366         bottega        7
579         Bottega        7
589       bottega -        7
725       bottega -        7
735   bottega dei -        7
748     bottega di-        7
1203   bottega di -        7
1427   bottega di -        7
1462  bottega dei -        7
1464      bottega -        7
1510  bottega dei -        7
1525        Bottega        7
1539      bottega -        7
1631    bottega di-        7
1664  bottega dei -        7
1687  bottega dei -        7
1782  bottega dei -        7
1797   bottega di -        7
1823   bottega di -        7
2020   bottega di -        7
2183      bottega -        7
2237    bottega di-        7
2273        Bottega        7
2318      bottega -        7
2332   bottega di -        7
2432        bottega        7
2473   bottega di -        7
2528        Bottega        7
2531   bottega di -        7
2587  bottega dei -        7
2707   bottega di -        7
2847  bottega dei -        7
2917   bottega di -        7
2993  bottega dei -        7
2995        bottega        7
3396    bottega di-        7
3429      bottega -        7
3747  bottega dei -        7
3852   bottega di -        7
3886    bottega di-        7
3971  bottega dei -        7
4060        bottega        7
4564   bottega di -        7
4724   bottega di -        7
4743   bottega di -        7
4777   bottega di -        7
4963  bottega dei -        7
     title  cluster
167   inc.        8
216   inc.        8
225   inc.        8
238   inc.        8
307   inc.        8
...    ...      ...
4493  inc.        8
4647  inc.        8
4722  inc.        8
4825  inc.        8
4912  inc.        8

[61 rows x 2 columns]
            title  cluster
12           inv.        9
358          Inv.        9
566          Inv.        9
873          Inv.        9
962          inv.        9
1089         Inv.        9
1298         Inv.        9
1319         Inv.        9
1424         Inv.        9
1458         inv.        9
1796         Inv.        9
1886         inv.        9
2215         inv.        9
2233         Inv.        9
2295         inv.        9
2375  inc. e inv.        9
2397         inv.        9
2910         Inv.        9
3063         inv.        9
3331         Inv.        9
3604         inv.        9
3832         Inv.        9
3836         inv.        9
4067         inv.        9
4075         Inv.        9
4227         Inv.        9
4323         Inv.        9
4387         inv.        9
4492         inv.        9
4744         Inv.        9
4801         Inv.        9
5010         Inv.        9

In [135]:
clusters['cluster_attribution'] = clusters['cluster']

In [136]:
positives = positives.merge(clusters[['cluster_attribution']], left_index=True, right_index=True)
positives.head()

,uid_connection,index,uid,AuthorOriginal,Description,Author,AuthorBirth,path,BeginDate,ImageURL,...,set,new_cluster,new set,old_cluster,Description (EN),Description (EN - ref),cluster_iconography,AuthorClean,AuthorAttr,cluster_attribution
0,002275ab17774b55a2d88d7a773b2d93,4881.0,4e6e928899224c9b8e5d15e37e211fe3,"YÁÑEZ DE LA ALMEDINA, Fernando",Madonna and Child with Infant St John,"YÁÑEZ DE LA ALMEDINA, Fernando",(active 1505-36),../data/WGA/images/y/yanez/madonna.jpg,1500.0,http://www.wga.hu/html/y/yanez/madonna.html,...,train,118,train,118.0,Madonna and Child with Infant St John,Madonna and Child with Infant St John,16,"YÁÑEZ DE LA ALMEDINA, Fernando",Original,0
1,002ca9c06a704c779e69d93cb4fadaa3,5465.0,45588b4e33444ed8b34c523bac808bc4,TIZIANO (copia da -),S.Mariá Maddalena. cm. 123 x 91,TIZIANO Vecellio (copia da),1483.0,../data/158B/158B_556.jpg,1560.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,train,50,train,50.0,S.Mariá Maddalena. cm. 123 x 91,S,3,TIZIANO Vecellio,copia da -,1
2,0038ab462149452b98a4d7359a06f9f4,15245.0,ae828b07e4284d80b652206ffb77278a,TIZIANO (copia da -),"Morte di S. Pietro Martire. mm. 123,8 x 84,2",TIZIANO Vecellio (copia da),1483.0,../data/158C/158C_120.jpg,1641.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,test,51,test,51.0,"Morte di S. Pietro Martire. mm. 123,8 x 84,2",Morte di S,3,TIZIANO Vecellio,copia da -,1
3,00474897de044f7fb1ef16888dc198f3,11203.0,76b2c4aeab404bc79768117e3ddc62b1,"BELLINI, Giovanni (cerchia di -)",Pietà.,BELLINI Giovanni (cerchia di),1431.0,../data/47A/47A_858.jpg,1449.0,https://dhlabsrv4.epfl.ch/iiif_replica/cini%2F...,...,val,498,val,498.0,Pietà.,Pietà,13,BELLINI Giovanni,cerchia di -,6
4,008b01e279594f0eae9419cf52f6262b,15308.0,b03f0d316b824923a52e79688ba7e1b7,"ALBANI, Francesco",Diana and Actaeon,"ALBANI, Francesco","(b. 1578, Bologna, d. 1660, Bologna)",../data/WGA/images/a/albani/1/dianacte.jpg,1612.0,http://www.wga.hu/html/a/albani/1/dianacte.html,...,train,242,train,242.0,Diana and Actaeon,Diana and Actaeon,82,"ALBANI, Francesco",Original,0

In [144]:
scores_attributions = {cluster: np.around(content['cluster_attribution'].nunique() / content.shape[0] + (content.shape[0] * 0.005),2) for cluster, content in positives.groupby('cluster') if content.shape[0] > 1}
list(scores_attributions.items())[:20]

[(0, 0.35),
 (1, 0.29),
 (2, 0.2),
 (3, 0.25),
 (4, 0.2),
 (5, 0.35),
 (7, 0.2),
 (9, 0.23),
 (10, 0.3),
 (13, 0.18),
 (14, 0.25),
 (15, 0.35),
 (17, 0.16),
 (19, 0.35),
 (20, 0.35),
 (22, 0.15),
 (24, 0.2),
 (25, 0.2),
 (26, 0.35),
 (27, 0.35)]

In [148]:
positives[positives['cluster'] == list(scores_attributions.keys())[np.argmax(list(scores_attributions.values()))]]['AuthorAttr'].value_counts()

Original             358
copia dal -            4
inc.                   4
da Paolo Veronese      2
Name: AuthorAttr, dtype: int64

In [149]:
positives[positives['cluster'] == list(scores_attributions.keys())[np.argmin(list(scores_attributions.values()))]]['AuthorAttr'].value_counts()

Original    15
Name: AuthorAttr, dtype: int64

### Time difference

In [156]:
extras = pd.read_csv(data_dir + 'morphograph/Cini_AllVariationsMerged_20210421.csv', sep=';')
extras.columns

Index(['Author', 'AuthorULAN', 'AuthorULANLabel', 'AuthorNationality',
       'BiographyLabel', 'AuthorBirth', 'AuthorDeath', 'AuthorBirthLong',
       'AuthorBirthLat', 'AuthorDeathLong', 'AuthorDeathLat',
       'AuthorBirthCity', 'AuthorDeathCity', 'CountModifiers',
       'CountModifiers_Contact', 'CountModifiers_Neighbours', 'CountWorks',
       'CountWorks_Modified', 'CountWorks_Contact', 'CountWorks_Neighbours',
       'PercWorks_Modified', 'PercWorks_Contact', 'PercWorks_Neighbours'],
      dtype='object')

In [161]:
positives_extra = positives.merge(extras[['Author', 'AuthorULAN', 'AuthorULANLabel', 'AuthorNationality',  'BiographyLabel', 
                                          'AuthorDeath', 'AuthorBirthLong', 'AuthorBirthLat', 'AuthorDeathLong', 'AuthorDeathLat',
                                           'CountModifiers',]], left_on='Author', right_on='Author', how='left')
positives_extra.columns

Index(['uid_connection', 'index', 'uid', 'AuthorOriginal', 'Description',
       'Author', 'AuthorBirth', 'path', 'BeginDate', 'ImageURL', 'City',
       'Country', 'AuthorBirthCity', 'AuthorDeathCity', 'Drawer', 'Type',
       'cluster_file_x', 'img1', 'img2', 'type', 'annotated', 'cluster_file_y',
       'cluster', 'set', 'new_cluster', 'new set', 'old_cluster',
       'Description (EN)', 'Description (EN - ref)', 'cluster_iconography',
       'AuthorClean', 'AuthorAttr', 'cluster_attribution', 'AuthorULAN',
       'AuthorULANLabel', 'AuthorNationality', 'BiographyLabel', 'AuthorDeath',
       'AuthorBirthLong', 'AuthorBirthLat', 'AuthorDeathLong',
       'AuthorDeathLat', 'CountModifiers'],
      dtype='object')

In [162]:
positives_extra['BeginDate'].value_counts()

1501.0    464
1523.0    204
1546.0    160
1493.0     98
1518.0     94
         ...
1753.0      1
1819.0      1
1538.0      1
1447.0      1
1445.0      1
Name: BeginDate, Length: 306, dtype: int64

In [176]:
scores_times = {cluster: np.around(content[content['BeginDate'].notnull()]['BeginDate'].max() - content[content['BeginDate'].notnull()]['BeginDate'].min() + (content.shape[0] * 0.05), 2) for cluster, content in positives_extra.groupby('cluster') if content[content['BeginDate'].notnull()].shape[0] > 1}
list(scores_times.items())[:20]

[(0, 1.15),
 (1, 0.4),
 (2, 20.3),
 (3, 31.5),
 (4, 22.3),
 (5, 12.15),
 (7, 22.3),
 (9, 12.6),
 (10, 61.3),
 (13, 55.4),
 (14, 52.25),
 (15, 9.15),
 (17, 51.1),
 (19, 157.15),
 (20, 44.15),
 (22, 30.5),
 (24, 172.25),
 (25, 100.0),
 (26, 13.15),
 (27, 1.15)]

In [177]:
positives_extra[positives_extra['cluster'] == list(scores_times.keys())[np.argmax(list(scores_times.values()))]]['BeginDate'].value_counts()

1503.0    4
1497.0    1
1820.0    1
Name: BeginDate, dtype: int64

In [178]:
positives_extra[positives_extra['cluster'] == list(scores_times.keys())[np.argmin(list(scores_times.values()))]]['BeginDate'].value_counts()

1616.0    2
Name: BeginDate, dtype: int64

### Places

In [188]:
scores_place = {cluster: np.around(content[content['AuthorDeathLat'].notnull()]['AuthorDeathLat'].max() - content[content['AuthorDeathLat'].notnull()]['AuthorDeathLat'].min() + content[content['AuthorDeathLong'].notnull()]['AuthorDeathLong'].max() - content[content['AuthorDeathLong'].notnull()]['AuthorDeathLong'].min() + (content.shape[0] * 0.05), 2) for cluster, content in positives_extra.groupby('cluster') if content[content['AuthorDeathLat'].notnull()].shape[0] > 1}
list(scores_place.items())[:20]

[(1, 0.4),
 (10, 3.22),
 (17, 1.1),
 (20, 0.15),
 (24, 1.25),
 (25, 1.0),
 (32, 2.4),
 (33, 2.8),
 (35, 0.15),
 (48, 4.01),
 (50, 4.9),
 (51, 7.0),
 (52, 0.65),
 (54, 3.5),
 (63, 0.9),
 (68, 0.35),
 (69, 0.15),
 (71, 0.35),
 (72, 18.4),
 (73, 0.25)]

In [189]:
positives_extra[positives_extra['cluster'] == list(scores_place.keys())[np.argmax(list(scores_place.values()))]][['City', 'Country', 'AuthorDeath']]#['BeginDate'].value_counts()

                         City Country  AuthorDeath
45    ROMA CITTA DEL VATICANO    None       1520.0
78                   VENE ZIA    None          NaN
129                      ROMA    None       1520.0
252                  A REZ zo    None          NaN
259                   VENEZIA    None          NaN
288                      ROMA    None          NaN
298                      ROMA    None       1834.0
400                  VENE ZIA    None          NaN
655                  L UCERNA    None          NaN
778                      ROMA    None       1520.0
1147                 A REZ zo    None          NaN
1651                  VENEZIA    None          NaN
1671                     ROMA    None          NaN
1909  ROMA CITTA DEL VATICANO    None       1520.0
2232                 A REZ zo    None          NaN
2319  ROMA CITTA DEL VATICANO    None       1520.0
2671                 VENE ZIA    None          NaN
2848                 A REZ zo    None          NaN
2942                 L UCERNA    None          NaN
3212                 VENE ZIA    None          NaN
3530                     ROMA    None       1834.0
3725  ROMA CITTA DEL VATICANO    None       1520.0
3804                 L UCERNA    None          NaN
4019                 VENE ZIA    None          NaN
4042                     ROMA    None       1834.0
4384  ROMA CITTA DEL VATICANO    None       1520.0
4390                 VENE ZIA    None          NaN
4412                 VENE ZIA    None          NaN

In [190]:
positives_extra[positives_extra['cluster'] == list(scores_place.keys())[np.argmin(list(scores_place.values()))]][['City', 'Country', 'AuthorDeath']]#['BeginDate'].value_counts()

      City Country  AuthorDeath
430   PISA    None       1646.0
2314  PISA    None       1646.0

In [ ]:
scores_iconography, scores_authors, scores_attributions, scores_times, scores_places